
/* Main Styling Index Page */
 body.index-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  height: 100vh; 
  max-width: 100%;
  margin: 0;
  
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* @media (max-width: 768px) {
  body.index-page {
    background-size: contain;
  }
} */


/* Main Styling Profile Page */
body.profile-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Styling Essay Page */
body.essay-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
 max-width: 100%; 
 margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Styling Blog Page */
body.blog-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main Styling Design Page */
body.design-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Main Styling Portfolio Page */
body.portfolio-page {
  background: url(./Images/yuriy-kovalev-nN1HSDtKdlw-unsplash\ \(1\).jpg) no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Nav Styling For All Pages */


nav{
  position: fixed;
  top: 0;
  background-color: rgba(88, 198, 235, 0.4);
  border-radius: 10px;
  height: 60px;
  width: 100%;
}


nav.scrolled {
  background-color: rgba(69, 158, 187, 0.9) ;
  
  }
nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
margin: 0;
padding: 0;
}

nav ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 1.3em;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a.active,a:hover{
  color: #000101;
  transition: .5s;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 30px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){

  nav ul li a{
    font-size: 1em;
  }
}
@media (max-width: 800px){
  .checkbtn{
    display: block;
  }
  nav{
    height: 30px;
  }
  nav ul{
   
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(69, 158, 187);
    top: 40px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav ul li{
    display: block;
    margin: 40px 0;
    line-height: 4px;
  }
  nav ul li a{
    font-size: 1.2em;
  }
  a:hover,a.active{
    color: #000101;
  transition: .5s;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
  }
  #check:checked ~ ul{
    left: 0;
  }



/* Main Text Styling Index Page*/

main.index-page-main {
  
  color: rgb(255, 255, 255);
  text-align: left;
  margin-left: 5vw;
  margin-top: 7vh;

  overflow-x: hidden;

}

  main.index-page-main h1 {
    margin-top: 15vh;
    font-size: 4em;
  }
  main.index-page-main span{
    color: rgb(0, 108, 165);
  }

  main.index-page-main h2{
    color: black;
    font-size: 2.5em;
    margin-top: -2vh;
    max-width: 60vw;
  }

  main.index-page-main p{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    margin-top: -1.7vh;
    margin-left: .25vw;
    max-width: 60vw;
    
  }

  img.selfie-img{
    margin-top: -30vh;
   margin-right: 5vw;
    float: right;
    width: 22%; 
    
   
  }


  .imagelist {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .imagelist li {
    display: inline-block;
    margin-left: 5vw;
    margin-top: -25vh;
  }
  
  .imagelist li img {
    opacity: 1.0;
    width: 3vw; 
  }

  .imagelist li img:hover{
    opacity: 0.7;
    
  transition: .3s;
  }

  @media (max-width: 952px){

    main.index-page-main h1{
      font-size: 3em;
    }

    main.index-page-main h2{
      font-size: 2em;
    }

    main.index-page-main p{
      font-size: 1em;
    }

    .imagelist li img{
      width: 5vw;
    }

    .imagelist li{
      margin-top: 5vh;
    }
  }

  @media (max-width: 526px){

    main.index-page-main h1{
      font-size: 2.5em;
      
    }

    main.index-page-main h2{
      font-size: 1.5em;
      max-width: 80vw;
      margin-top: 6vh;
    }

    main.index-page-main p{
      font-size: .7em;
      max-width: 80vw;
      margin-top: 6vh;
    }

    img.selfie-img{
display: none;
    }

    .imagelist li img{
      width: 5vw;
    }

    .imagelist li{
      margin-top: 7vh;
    }
  }

  /* Main Text Styling Profile Page */

  .page-header {
    text-align: center;
    margin-top: 4em;
  }
  
  .page-header h1 {
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10vh;
  }
  
  
  

  .profile-section {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 1em;
    margin-top: 4vh;
    background: linear-gradient(135deg, rgba(173, 247, 242, 0.7), rgba(91, 195, 255, 0.7));
    padding: 1em;
    box-sizing: border-box;
    border: #000000;
    box-shadow: -10px 0 40px #00435e
  }

  
  
  .profile-section header h2, h3, h4, h5 {
    font-size: 1.5em;
    margin-top: 0;
    text-align: center;
  }
  
  .profile-section article p {
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
  }

  .profile-section span {
    font-size: 1em;
    font-weight: bold;
   
  }

  .year-txt{
    color: #ffffff;
  }

  .position-txt {
    font-size: 1em;
    color: #000101;
    font-weight: bold;
    font-style: italic;
  }
  
    
    

     /* Main Text Styling Essay Page */

    
  .essay-page-main {
  

    color: rgb(255, 255, 255);
    text-align: center;
  
  }
  
    .essay-page-main h1 {
      color: rgb(0, 0, 0);
      font-size: 3em;
      font-weight: bold;
      text-decoration: underline;
      margin-top: 10vh;
      
    }

    .tabContainer{
      
      width: 90vw;
      height: 100%;
      margin: 0 auto;
      
    }
    .buttons{

    height: 15%;
      margin-top: 10vh;
  }

  .buttons button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma;
    font-size: 2em;
    color: #ffffff;
    background-color: rgba(230, 230, 230, 0.7);
    /* background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6)); */
  }

.buttons button:hover{
  background-color: rgba(34, 34, 34, 0.4);

}

.tabPanel{
  height: 85%;
  background-color: gray;

  text-align: center;
  padding-top: 2vh;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 1.5em;
  display: none;
}
    .essay-content {
      width: 70vw;
      color: #000101;
      /* background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6)); */
      /* border: #000101; */
      padding: 5vh;
      margin: 2vh auto;
      margin-top: 4vh;
      display: block;
    
    /* box-shadow: -2vw 0 2vw #747474 */
    
    
    }
    
    .essay-content span{
      text-decoration: underline;
      font-weight: bold;
     
    }
    
    @media (max-width: 756px){
.buttons button {
font-size: 1.5em;
}

.essay-content{
  width: 70vw;
  
}



    }

    /* Main Text Styling Blog Page */


    
    .blogs-main-header {
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
      margin-top: 10vh;
    }

    /* accordion code referenced from: CodingLab (2022). How to Create Responsive Accordion in HTML CSS & JavaScript. [online] www.youtube.com. Available at: https://youtu.be/B_wscu_ijwU [Accessed 4 Jun. 2023].  */
    
    .accordion main {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #E3F2FD;
    }
    
    .accordion {
      max-width: 90em;
      width: 85%;
      background: rgba(255, 255, 255, 0.3) ;
      margin: 0 auto;
      
      padding: 1em;
      border-radius: 0.8em;
      box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.8);
    }
    
    .accordion .accordion-content {
      margin: 1em 0;
      border-radius: 0.4em;
      background: linear-gradient(135deg, rgba(173, 247, 242, 0.7), rgba(91, 195, 255, 0.7));
      border: 0.1em solid #000000;
      overflow: hidden;
    }
    
    
    .accordion-content.open {
      padding-bottom: .5em;
    }
    
    .accordion-content header {
      display: flex;
      min-height: 1vh;
      padding: 0 1.5em;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      transition: all 0.2s linear;
    }
    
    .accordion-content.open header {
      min-height: 1em;
    }
    
    .accordion-content header .title {
      font-size: 1.4em;
      font-weight: 500;
      color: #333;
    }
    
    .accordion-content header i {
      font-size: 1.5em;
      color: #333;
    }
    
    .accordion-content .description {
      height: 0;
      font-size: 1.1em;
      color: #333;
      font-weight: 400;
      padding: 0 1.5em;
      transition: all 0.2s linear;
      overflow: hidden;
    }
    
    

  
    
    

    /* Styling for Design Page */

    .main-header {
      font-size: 2em;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
      margin-top: 10vh;
    }

    .IxD {
      width: 90vw;
      color: #000101;
      background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6));
      border: #000101;
      padding: 1vh;
      margin: 2vh auto;
      margin-top: 5vh;
      display: block;
    font-size: 1.4em;
    box-shadow: -2vw 0 2vw #747474
    }

    .IxD-header {
      text-align: center;

    }

    .IxD-content {
      width: 80vw;
      padding-left: 3vw;
    }

    .IxD-content span{
      text-decoration: underline;
    }

    .IxD-content img{
      margin-left: 4vw;
      width: 35%
      
      
    }

    .indent-txt {
      padding-left: 3em;
    }

    .style-guide {
      width: 90vw;
      color: #000101;
      background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6));
      border: #000101;
      padding: 1vh;
      margin: 2vh auto;
      margin-top: 5vh;
      display: block;
    font-size: 1.4em;
    box-shadow: -2vw 0 2vw #747474
    }

    .style-header{
    
      text-align: center;
    
    }

    .styleguide-content {
      width: 80vw;
      padding-left: 3vw;
    }

      .styleguide-content span{
        text-decoration: underline;
      }

      .wireframes {
        width: 90vw;
      color: #000101;
      background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6));
      border: #000101;
      padding: 1vh;
      margin: 2vh auto;
      margin-top: 5vh;
      display: block;
    font-size: 1.4em;
    box-shadow: -2vw 0 2vw #747474
      }

      .wireframe-header{
        text-align: center;
      }

      .wireframe-content{
        width: 80vw;
      padding-left: 3vw;
      }

      .wireframe-content span{
        text-decoration: underline;
      }

      .wireframe-content img {
        margin-left: 7vw;
        width: 40%
        
      }

      .implement-notes{
        width: 90vw;
        color: #000101;
        background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6));
        border: #000101;
        padding: 1vh;
        margin: 2vh auto;
        margin-top: 5vh;
        display: block;
      font-size: 1.4em;
      box-shadow: -2vw 0 2vw #747474
      }

      .implement-header {
        text-align: center;
      }

      .implement-content {
        width: 80vw;
        padding-left: 3vw;
      }

      .implement-content span{
        text-decoration: underline;
      }

      .improvements{
        width: 90vw;
        color: #000101;
        background: linear-gradient(90deg, rgba(173, 247, 242, 0.6), rgba(91, 195, 255, 0.6));
        border: #000101;
        padding: 1vh;
        margin: 2vh auto;
        margin-top: 5vh;
        display: block;
        font-size: 1.4em;
      box-shadow: -2vw 0 2vw #747474
      }

      .improve-header {
        text-align: center;
      }

      .improve-content {
        width: 80vw;
        padding-left: 3vw;
      }

      .improve-content span{
        text-decoration: underline;
      }
/*Portfolio Page styling*/

  
.portfolio-main {
  /* font-family: Arial, sans-serif; */
  margin-top: 16vh;
 
 
}

.portfolio-main h1{
      font-size: 3em;
      font-weight: bold;
      text-decoration: underline;
      text-align: center;
      margin-top: -5vh;
}

.cards {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 2vw;
  font-family: sans-serif;
  padding-top: 30px;
 
}

.card {
  box-sizing: border-box;
  box-shadow: black;

  
}

.card__image {
  width: 99%;
  height: 45vh;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  border-bottom: 2px solid #333333;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  padding: 2px;
  
  align-items: center;
  color: #ffffff;
  background: #000000;
  font-size: 1em;
  border-bottom: 1px solid #333333;
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}

.card__info p{
 margin-left: 25%;
}







